/* Universal format */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Establishes site background color */
body {
    background-color: #d9dcd6;
}

/* Establishes size, background color, font style, and font color for the header block  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Establishes the font size and display mode for the logo so the desired font color arrangement can be achieved */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Establishes a secondary color used in the logo */
header h1 .seo {
    color: #d9dcd6;
}

/* Establishes the formatting for the list of services provided at the top of the page */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Establishes the formatting of the list of options so they will appear horizontal instead of vertical */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Makes the buttons not appear as hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Establishes the formatting of the site's hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Establishes the general formatting for the main portion of the site */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} 

/* Establishes the formatting for each main section */
main section {    
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Establishes the formatting specific to the main section headers */
main h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Establishes the size for images in the main sections */
main img{
    max-height: 200px;
}

/* Positioning for images in the main sections */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Positioning for images in the main sections */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Establishes the general formatting for the aside portion of the site */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Establishes the formatting for each aside section */
aside section {
    margin-bottom: 32px;
    color: #ffffff; 
}

/* Establishes the formatting specific to the main section headers */
aside h3 {
    margin-bottom: 10px;
    text-align: center;   
}

/* Establishes the size for images in the main sections */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/* These last two sections establish the formatting of the footer of the site */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
